<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro CPF:</title>
    <form action="/cadastro" method="post">
    <input type="text" name="cpf" value="123456">
    <input type="text" name="senha" value="123456">
    <input type="text" name="idade" value="66">
    <input type="text" name="cep" value="12570000">
    <input type="text" name="sexo" value="m">
    <input type="text" name="cidade" value="aparecida">
    <input type="text" name="bairro" value="jardim">
    <button type="submit">Criar Usuario</button>
        </form>
</head>
<body>

</body>

</html>