<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pesquisa</title>
        <form action="/pesquisa" method="post">
    <input type="text" name="cidade" value="aparecida">
    <input type="text" name="obesidade" value=1>
    <input type="text" name="cardiopatia" value=0>
    <input type="text" name="febre" value="2">
    <input type="text" name="dor_garganta" value="1">
    <input type="text" name="dor_peito" value="3">
    <input type="text" name="coriza" value="1">
            <button type="submit">Enviar Pesquisa</button>
        </form>
</head>
<body>

</body>
</html>